<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011, 2018 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<!-- START CatalogEntryDisplay_ListView_UI.jsp -->
<%-- showCompareBox will be set to true by default. Pass the value as param to override the value. --%>
<flow:ifEnabled feature="Analytics">
<c:if test="${fn:contains(productDisplayUrl, '?')}">
	<c:set var="cmcrurl" value="${fn:replace(cmcrurl, '?', '&')}" />
	<c:if test="${!empty cmcrurl}"> 
		<c:set var="cmcrurl_productImageLink" value="${cmcrurl}-productImageLink"/>
		<c:set var="cmcrurl_productNameLink" value="${cmcrurl}-productNameLink"/>
		<c:set var="cmcrurl_productFullDetails" value="${cmcrurl}-productFullDetailsLink"/>
	</c:if>
</c:if>
</flow:ifEnabled>
<c:choose>
	<c:when test="${disableProductCompare == 'false'}">
		<c:set var="showCompareBox" value="true" />
	</c:when>
	<c:otherwise>
		<c:set var="showCompareBox" value="false" />
	</c:otherwise>
</c:choose>
<c:if test="${type eq 'package' || type eq 'bundle' || type eq 'dynamickit'|| type eq 'preddynakit'}">
	<c:set var="showCompareBox" value="false" />
</c:if>
<c:set var="catEntryName" value="${name}"/>
<c:if test="${env_escapeXmlFlag eq 'true'}"> 
	<c:set var="catEntryName" value="${fn:escapeXml(name)}"/>
</c:if>
<c:if test="${hasAssociations}" >
	<c:set var="showCompareBox" value="false" />
</c:if>
		<div dataci_product="<c:out value='${param.pgl_widgetId}_${partNumber}'/>" id="ci_product_<c:out value='${param.pgl_widgetId}_${partNumber}'/>" class="product_image <c:if test="${hasAssociations}" >product_image_merch</c:if>"
		<c:if test="${showCompareBox eq 'true'}">
			onmouseout="if(!$('#comparebox_${catalogEntryID}').checked){
				hideSection('compare_${catalogEntryID}');
			}"
		</c:if>>
			<a id="CatalogEntryDisplayLink_${catalogEntryID}" href="${fn:escapeXml(productDisplayUrl)}${fn:escapeXml(cmcrurl_productImageLink)}" title="${catEntryName}" aria-label="${catEntryName}"
				<c:if test="${showCompareBox eq 'true'}">
					onkeydown="if(!$('#comparebox_${catalogEntryID}').checked){shiftTabHideSection('compare_${catalogEntryID}',event);}"
					onfocus="showSection('compare_${catalogEntryID}');"
				</c:if> title="${catEntryName}">
				<img id="productThumbNailImage_${catalogEntryID}" src="${productThumbNailImage}" 
				alt="" border="0"/>
				<c:forEach var="adRibbon" items="${adRibbonMap}">
					<c:set var="adRibbonStyle" value="RibbonAdDefault ${fn:replace(adRibbon.key , '\"' , '_')}"/>
					<div class="${fn:escapeXml(adRibbonStyle)}">${adRibbon.value}</div>
				</c:forEach>
			</a>
			<c:if test="${showCompareBox eq 'true'}">
				<div id="compare_${catalogEntryID}" class="compare_target">
					<input id="comparebox_${catalogEntryID}" type="checkbox" name="comparebox_${catalogEntryID}" value="${catalogEntryID}" onchange="javascript:shoppingActionsJS.addOrRemoveFromCompare('${catalogEntryID}',this.checked)">
					<label for="comparebox_${catalogEntryID}"><wcst:message key="COMPARE" bundle="${widgetText}"/></label>
					<a id="compareButton_${catalogEntryID}" href="javascript:shoppingActionsJS.compareProducts(${categoryIds},'${WCParam.manufacturer}');" role="button" aria-label="<wcst:message key="COMPARE" bundle="${widgetText}"/>"><wcst:message key="COMPARE" bundle="${widgetText}"/></a>
				</div>
				<c:if test="${param.fromPage ne 'compare'}">
					<script>
						if($("#comparebox_${catalogEntryID}").checked){
							$( document ).ready(function() {
								$("#comparebox_${catalogEntryID}").checked = '';
							});
						}
					</script>
				</c:if>
			</c:if>
		</div>
		<c:if test="${hasAssociations}" >
			<div id="product_name_${catalogEntryID}" class="product_name_merch">
				<c:if test="${not empty searchScore}">
					<div class="searchScore">[<wcst:message key='SEARCH_SCORE' bundle='${widgetText}'/> <c:out value="${searchScore}"/>]</div>
				</c:if>
				<a id="CatalogEntryViewDetailsLink_${catalogEntryID}" href="${fn:escapeXml(productDisplayUrl)}${fn:escapeXml(cmcrurl_productNameLink)}">${catEntryName}</a>
			</div>
		</c:if>

<c:if test="${hasAssociations}" >
	<div class="productDescDropMerch collapsible" aria-expanded="false" role="group" aria-label="<wcst:message key='COLLAPSE_EXPAND_WIDGET_TITLE' bundle='${widgetText}'/>" id="productDescDropGroup_${catalogEntryID}" >
	   <a href="#" role="button" tabindex="0" class="toggle" aria-controls="productDescDropGroup_${catalogEntryID}">
	      <div class="arrow" id="mainESpotDescTog_${catalogEntryID}"></div>
	      <div class="showDetails"><wcst:message key='MA_BUY_NOW' bundle='${widgetText}'/></div>
	   </a>
	   <div id="ProductESpotDetails_${catalogEntryID}" class="closed content" style="">	
</c:if>

	<div class="product_info">
		<c:if test="${!hasAssociations}" >
			<div id="product_name_${catalogEntryID}" class="product_name">
				<c:if test="${not empty searchScore}">
					<div class="searchScore">[<wcst:message key='SEARCH_SCORE' bundle='${widgetText}'/> <c:out value="${searchScore}"/>]</div>
				</c:if>
				<a aria-hidden="true" tabindex="-1" id="CatalogEntryViewDetailsLink_${catalogEntryID}" href="${fn:escapeXml(productDisplayUrl)}${fn:escapeXml(cmcrurl_productNameLink)}">${catEntryName}</a>
			</div>
		</c:if>
		<c:if test="${hasAssociations}" >
			<div class="product_description">
				<span id="product_SKU_${fn:escapeXml(catalogEntryID)}" class="sku"><wcst:message key='BD_SKU' bundle='${widgetText}'/>: ${partnumber}</span>
			</div>
		</c:if>
		<c:if test="${(requestScope.bundleKitAvailable eq 'false') and (requestScope.productAvailable eq 'false') and (requestScope.dynamicKitAvailable eq 'false')}" >
			<c:if test = "${enableSKUListView != 'true'}">
				<%-- If SKU table is displayed, then Add to cart button is not displayed. So this message is not needed here --%>
				<div class="not_available"><wcst:message key="PD_PRODUCT_NOT_AVAILABLE_MESSAGE" bundle="${widgetText}"/></div>
			</c:if>
		</c:if>
		<flow:ifEnabled feature="UserRatings">
			<c:if test="${!empty rating}">
				<div class="star-rating-background" title="${rating}">
					<span style="width:${rating*100/5}%" class="star-rating"></span>
				</div>
				<div class="clear_float"></div>
				<div class="item_spacer_10px"></div>
			</c:if>
		</flow:ifEnabled>
		<div id="price_display_${catalogEntryID}" class="product_price">
			<c:set var="displayPriceRange" value="true" />
			<%@ include file="/Widgets_801/Common/PriceDisplay/PriceDisplay.jspf" %>
		</div>

		<div class="product_description">
			<p id="product_shortdescription_${catalogEntryID}">${shortDescription}</p>
			<div class="clear_float"></div>
		</div>
		<div class="item_spacer_7px"></div>
		
		<c:if test="${enableSKUListView != 'true'}">
			<c:choose>
				<c:when test="${type == 'item'}">
					<c:forEach var="attribute" items="${definingAttributeList}" varStatus="aStatus" >
						<c:set var="attributeName" value="${attribute[0]}" />
						<c:set var="attributeValues" value="${attribute[1]}" />
						<c:set var="displayValue" value="${attribute[2]}" />
						<div class="heading attr">
							<wcst:message key="ATTRNAMEKEY" bundle="${widgetText}">
								<wcst:param value="${attributeName}"/>
							</wcst:message>
							<c:if test="${empty displayValue}">
								<c:out value="${fn:replace(attributeValues[0], replaceStr01, search01)}"/>
							</c:if>
							<c:out value="${displayValue}"/>
						</div>
					</c:forEach>
				</c:when>
				<c:when test="${numberOfSKUs == 1}">
					<c:forEach var="attribute" items="${definingAttributeList}" varStatus="aStatus" >
						<c:set var="attributeName" value="${attribute[0]}" />
						<c:set var="attributeValues" value="${attribute[1]}" />
						<c:set var="displayValue" value="${attribute[2]}" />
						<div class="heading attr">
							<wcst:message key="ATTRNAMEKEY" bundle="${widgetText}">
								<wcst:param value="${attributeName}"/>
							</wcst:message>
							<c:if test="${empty displayValue}">
								<c:out value="${fn:replace(attributeValues, replaceStr01, search01)}"/>
							</c:if>
							<c:out value="${displayValue}"/>
						</div>
						<script type="text/javascript">
							$( document ).ready(function() { 
								shoppingActionsJS.setSelectedAttribute("${fn:escapeXml(attributeName)}","${fn:escapeXml(attributeValues)}", "entitledItem_${fn:escapeXml(catalogEntryID)}", "productThumbNailImage_${fn:escapeXml(catalogEntryID)}", "ItemThumbnailImage");
							});
						</script>
					</c:forEach>
				</c:when>
				<c:when test="${!empty subsTimePeriodAttrList}" >
					<c:if test="${subsFulfillmentFrequencyAttrCount != 0}" >
						<c:forEach items="${subsFulfillmentFrequencyAttrMap}" varStatus="aStatus">
							<c:set var="attributeName" value="${aStatus.current.key}" />
							<c:set var="attributeValues" value="${aStatus.current.value}" />
							<script type="text/javascript">
								$( document ).ready(function() { 
									shoppingActionsJS.setSelectedAttribute("${fn:escapeXml(attributeName)}","${fn:escapeXml(attributeValues)}", "entitledItem_${fn:escapeXml(catalogEntryID)}", "productThumbNailImage_${fn:escapeXml(catalogEntryID)}", "ItemThumbnailImage");
								});
							</script>
						</c:forEach>
					</c:if>
					<c:if test="${subsPaymentFrequencyAttrCount != 0}" >
						<c:forEach items="${subsPaymentFrequencyAttrMap}" varStatus="aStatus">
							<c:set var="attributeName" value="${aStatus.current.key}" />
							<c:set var="attributeValues" value="${aStatus.current.value}" />
							<script type="text/javascript">
								$( document ).ready(function() { 
									shoppingActionsJS.setSelectedAttribute("${fn:escapeXml(attributeName)}","${fn:escapeXml(attributeValues)}", "entitledItem_${fn:escapeXml(catalogEntryID)}", "productThumbNailImage_${fn:escapeXml(catalogEntryID)}", "ItemThumbnailImage");
								});
							</script>
						</c:forEach>
					</c:if>
					<c:forEach var="attribute" items="${subsTimePeriodAttrList}" varStatus="aStatus" >
						<c:set var="attributeName" value="${attribute[0]}" />
						<c:set var="attributeValues" value="${attribute[1]}" />
						<c:set var="attributeDisplayValues" value="${attribute[2]}" />
						<div class="header"><c:out value="${attributeName}"/></div>
						<div class="options_dropdown selectWrapper">
							<label for="attrValue_${fn:escapeXml(catalogEntryID)}_${aStatus.count}" style="display:none;"><c:out value='${attributeName}'/><wcst:message key='PD_ACCE_required' bundle="${widgetText}"/></label>
							<select aria-label="${attributeName}" class="wcSelect" data-widget-type="wc.Select" name="attrValue" id="attrValue_${fn:escapeXml(catalogEntryID)}_${aStatus.count}"
								onChange='JavaScript:shoppingActionsJS.setSelectedAttribute("${fn:escapeXml(attributeName)}",this.value, "entitledItem_${fn:escapeXml(catalogEntryID)}", "productThumbNailImage_${fn:escapeXml(catalogEntryID)}", "ItemThumbnailImage");
										shoppingActionsJS.setSelectedAttribute("${fn:escapeXml(fn:replace(fulfillmentFrequencyAttrName, search01, replaceStr01))}","${fn:escapeXml(fn:replace(fulfillmentFrequency, search01, replaceStr01))}", "entitledItem_${fn:escapeXml(catalogEntryID)}", "productThumbNailImage_${fn:escapeXml(catalogEntryID)}", "ItemThumbnailImage");
										shoppingActionsJS.setSelectedAttribute("${fn:escapeXml(fn:replace(paymentFrequencyAttrName, search01, replaceStr01))}","${fn:escapeXml(fn:replace(paymentFrequency, search01, replaceStr01))}", "entitledItem_${fn:escapeXml(catalogEntryID)}", "productThumbNailImage_${fn:escapeXml(catalogEntryID)}", "ItemThumbnailImage");
										<c:if test="${env_displayListPriceInProductPage == 'true'}">
											shoppingActionsJS.changePrice("entitledItem_${fn:escapeXml(catalogEntryID)}",false,${displayPriceRange},"${fn:escapeXml(catalogEntryID)}");
										</c:if>'>
								<option value="">
									<wcst:message key="PD_CHOOSE" bundle="${widgetText}"/>
								</option>
								
								<c:forEach var="allowedValue" items="${attributeValues}" varStatus="vStatus">
									<c:set var="index" value="${fn:trim(vStatus.count-1)}" />
									<option value="${fn:escapeXml(allowedValue)}" <c:if test="${allowedValue == WCParam[attributeName]}">selected="selected"</c:if>>
										<c:out value="${attributeDisplayValues[index]}"/>
									</option>
								</c:forEach>
							</select>			
						</div>
					</c:forEach>
				</c:when>
				<c:otherwise>
						<c:if test="${!empty swatchAttrList}">
							<c:set var="defaultSelected" value="false"/>
							<c:forEach var="attribute" items="${swatchAttrList}" varStatus="aStatus" >
								<c:set var="swatchName" value="${attribute[0]}" />
								<c:set var="swatchValues" value="${attribute[1]}" />
								<c:set var="swatchImages" value="${attribute[2]}" />
								<c:set var="swatchDisplayValues" value="${attribute[3]}" />
								<c:set var="swatchDefault" value="${attribute[4]}"/>

								<div class="header color_swatch_label" id="swatch_selection_label_entitledItem_${fn:escapeXml(catalogEntryID)}_${fn:escapeXml(swatchName)}" ><c:out value="${fn:escapeXml(swatchName)}"/>: </div>
								<div class="header" id="swatch_selection_entitledItem_${fn:escapeXml(catalogEntryID)}_${fn:escapeXml(swatchName)}"></div>
								<div class="item_spacer_3px"></div>
								<div class="product_color_swatches">
									<span class="spanacce" id="swatch_ACCE_description_${fn:escapeXml(catalogEntryID)}_${fn:escapeXml(fn:replace(swatchName, ' ', '-'))}"><wcst:message key="ACCE_Region_Price_Update" bundle="${widgetText}"/></span>
									<div class="color_swatch_list" role="radiogroup" aria-label="${fn:escapeXml(swatchName)}" aria-describedby="swatch_ACCE_description_${fn:escapeXml(catalogEntryID)}_${fn:escapeXml(fn:replace(swatchName, ' ', '-'))}">
										<ul>
											<c:forEach var="swatchValue" items="${swatchValues}" varStatus="vStatus">
												<c:set var="index" value="${fn:trim(vStatus.count-1)}" />
												<li>
												<a role="radio" aria-setsize="${fn:length(swatchValues)}" aria-posinset="${vStatus.count}" aria-checked="false" id="swatch_link_entitledItem_${fn:escapeXml(catalogEntryID)}_${fn:escapeXml(swatchValue)}" title="${fn:escapeXml(swatchDisplayValues[index])}" href='javascript: shoppingActionsJS.selectSwatch("${fn:escapeXml(swatchName)}","${fn:escapeXml(swatchValue)}","entitledItem_${fn:escapeXml(catalogEntryID)}","${fn:escapeXml(doNotDisable)}","${fn:escapeXml(swatchDisplayValues[index])}","productThumbNailImage_${fn:escapeXml(catalogEntryID)}","ItemThumbnailImage");shoppingActionsJS.changePrice("entitledItem_${fn:escapeXml(catalogEntryID)}",false,${displayPriceRange},"${fn:escapeXml(catalogEntryID)}");'>
													<img id="swatch_entitledItem_${fn:escapeXml(catalogEntryID)}_${fn:escapeXml(swatchValue)}" alt="${fn:escapeXml(swatchDisplayValues[index])}" src="${fn:escapeXml(swatchImages[index])}" class="color_swatch <c:if test='${aStatus.last}'>last_swatch</c:if>" aria-hidden="true"/>
														<span class="spanacce"><c:out value='${swatchValue}'/></span>
													</a>
												</li>
												<c:if test="${!defaultSelected}">
													<c:choose>
														<c:when test="${not empty swatchDefault}">
															<c:forEach var="swatchDefaultAttribute" items="${swatchDefault.attributes}">
																<c:if test="${swatchDefaultAttribute.name == swatchName}">
																	<c:forEach var="swatchDefaultAttributeValue" items="${swatchDefaultAttribute.values}">
																		<c:if test="${swatchDefaultAttributeValue.value == swatchValue}">
																			<c:set var="defaultAttributeName" value="${swatchName}"/>
																			<c:set var="defaultAttributeValue" value="${swatchValue}"/>
																			<c:set var="defaultAttributeDisplayValue" value="${swatchDisplayValues[index]}"/>
																			<c:set var="defaultSelected" value="true"/>
																		</c:if>
																	</c:forEach>
																</c:if>
															</c:forEach>
														</c:when>
														<c:otherwise>
															<c:set var="defaultAttributeName" value="${swatchName}"/>
															<c:set var="defaultAttributeValue" value="${swatchValue}"/>
															<c:set var="defaultAttributeDisplayValue" value="${swatchDisplayValues[index]}"/>
															<c:set var="defaultSelected" value="true"/>
														</c:otherwise>
													</c:choose>
												</c:if>									
												<script type="text/javascript">			
													shoppingActionsJS.addToAllSwatchsArray("${fn:escapeXml(swatchName)}","${fn:escapeXml(swatchValue)}","${fn:escapeXml(swatchImages[index])}","entitledItem_${fn:escapeXml(catalogEntryID)}","${fn:escapeXml(swatchDisplayValues[index])}", "");
												</script>
												<a id="swatch_array_${fn:escapeXml(catalogEntryID)}_${vStatus.count}_${fn:escapeXml(fn:replace(swatchName, ' ', '-'))}_${fn:escapeXml(fn:replace(swatchValue, ' ', '-'))}" class="nodisplay" href='javascript:shoppingActionsJS.addToAllSwatchsArray("${fn:escapeXml(swatchName)}","${fn:escapeXml(swatchValue)}","${fn:escapeXml(swatchImages[index])}","entitledItem_${fn:escapeXml(catalogEntryID)}","${fn:escapeXml(swatchDisplayValues[index])}", "");'></a>
											</c:forEach>
										</ul>
									</div>
								</div>
								<c:if test="${!aStatus.last}">
									<div class="item_spacer_3px"></div>
								</c:if>
							</c:forEach>
							<c:if test="${defaultSelected == 'true'}">
								<script type="text/javascript">
										shoppingActionsJS.setSKUImageId("productThumbNailImage_${fn:escapeXml(catalogEntryID)}");			
										shoppingActionsJS.selectSwatch("${fn:escapeXml(defaultAttributeName)}","${fn:escapeXml(defaultAttributeValue)}","entitledItem_${fn:escapeXml(catalogEntryID)}","${fn:escapeXml(doNotDisable)}","${fn:escapeXml(defaultAttributeDisplayValue)}","productThumbNailImage_${fn:escapeXml(catalogEntryID)}","ItemThumbnailImage");
										shoppingActionsJS.changePrice("entitledItem_${fn:escapeXml(catalogEntryID)}",false,${displayPriceRange},"${fn:escapeXml(catalogEntryID)}");
								</script>
								<a id="swatch_setSkuImage_${fn:escapeXml(catalogEntryID)}_${vStatus.count}" class="nodisplay" href='javascript:shoppingActionsJS.setSKUImageId("productThumbNailImage_${fn:escapeXml(catalogEntryID)}");'></a>
								<a id="swatch_selectDefault_${fn:escapeXml(catalogEntryID)}_${vStatus.count}" class="nodisplay" href='javascript:shoppingActionsJS.selectSwatch("${fn:escapeXml(defaultAttributeName)}","${fn:escapeXml(defaultAttributeValue)}","entitledItem_${fn:escapeXml(catalogEntryID)}","${fn:escapeXml(doNotDisable)}","${fn:escapeXml(defaultAttributeDisplayValue)}","productThumbNailImage_${fn:escapeXml(catalogEntryID)}","ItemThumbnailImage");shoppingActionsJS.changePrice("entitledItem_${fn:escapeXml(catalogEntryID)}",false,${displayPriceRange},"${fn:escapeXml(catalogEntryID)}");'></a>
							</c:if>			
						</c:if>
						<c:forEach var="attribute" items="${definingAttributeList}" varStatus="aStatus" >
							<c:set var="attributeName" value="${attribute[0]}" />
							<c:set var="attributeValues" value="${attribute[1]}" />
							<c:set var="attributeNameWithoutReplaceStr03" value="${fn:replace(fn:replace(attributeName, replaceStr01, search01), replaceStr02 ,search)}" />
							<c:set var="attributeDisplayValues" value="${attribute[2]}" />
							<div class="header def_attr"><c:out value="${attributeNameWithoutReplaceStr03}"/></div>
							<script type="text/javascript">
								$(document).ready(function() {
									var attributeName = "<c:out value='${attributeName}'/>";
									var singleQuote = "\\\'";
									var doubleQuote = '\\\"';
									var singleQuoteWithoutBackSlash = "'";
									var doubleQuoteWithoutBackSlash = '"';
									attributeName = attributeName.replace(/&#039;/g, singleQuote);
									attributeName = attributeName.replace(/&#034;/g, doubleQuote);

									shoppingActionsJS.addToAllDropdownsArray(attributeName,"attrValue_${fn:escapeXml(catalogEntryID)}_${aStatus.count}","entitledItem_<c:out value='${catalogEntryID}'/>");

									shoppingActionsJS.registerAttributeIds(attributeName, "entitledItem_<c:out value='${catalogEntryID}'/>", {});
								});
							</script>
							<div class="options_dropdown selectWrapper">
								<label for="attrValue_${fn:escapeXml(catalogEntryID)}_${aStatus.count}" style="display:none;"><c:out value='${attributeName}'/><wcst:message key='PD_ACCE_required' bundle="${widgetText}"/></label>
								<select aria-label="${attributeName}" class="wcSelect" data-widget-type="wc.Select" name="attrValue"
								id="attrValue_${fn:escapeXml(catalogEntryID)}_${aStatus.count}"
								onChange='JavaScript:shoppingActionsJS.setSelectedAttribute("<c:out value='${attributeName}'/>", this.value, "entitledItem_${fn:escapeXml(catalogEntryID)}", "productThumbNailImage_${fn:escapeXml(catalogEntryID)}", "ItemThumbnailImage");

								<c:if test="${env_displayListPriceInProductPage == 'true'}">
										shoppingActionsJS.changePrice("entitledItem_${fn:escapeXml(catalogEntryID)}",false,${displayPriceRange},"${fn:escapeXml(catalogEntryID)}");
									</c:if>'>
								<option value="">
									<wcst:message key="PD_CHOOSE" bundle="${widgetText}"/>
								</option>

								<c:forEach var="allowedValue" items="${attributeValues}" varStatus="bStatus">
									<option value="<c:out value="${fn:replace(allowedValue, replaceStr02, search)}"/>" <c:if test="${allowedValue == WCParam[attributeNameWithoutReplaceStr03]}">selected="selected"</c:if>>
									<c:out value="${fn:replace(fn:replace(attributeDisplayValues[bStatus.count-1], replaceStr01, search01),replaceStr02 ,search)}"/>
									</option>
								</c:forEach>
								</select>
							</div>
							<div class="item_spacer_3px"></div>
							<div class="clear_float"></div>				
						</c:forEach>
	
				</c:otherwise>
			</c:choose>
			
			<c:if test="${type == 'item' || type == 'package' || type == 'product' || type == 'dynamickit' || type == 'preddynakit'}" >
				<div class="product_quantity_addtolist">
					<div class="product_quantity">
		
						<div class="quantity_section">
							<label for="quantity_${fn:escapeXml(catalogEntryID)}" class="header"><wcst:message key="PD_QTY" bundle="${widgetText}"/></label>
							<fmt:formatNumber var="formattedQuantity" value="${!empty param.quantity ? param.quantity : 1}"/>
							<input id="quantity_${fn:escapeXml(catalogEntryID)}" type="tel" class="quantity_input" value="${formattedQuantity}"/>
							<div class="clear_float"></div>
						</div>
					</div>
					<div class="clear_float"></div>
				</div>
			</c:if>
			
			<c:choose>
				<c:when test="${(requestScope.bundleKitAvailable eq 'true') or (requestScope.productAvailable eq 'true') or (requestScope.dynamicKitAvailable eq 'true')}" >
					<flow:ifDisabled feature="HidePurchaseButton">
						<c:choose>											
							<c:when test="${(type == 'dynamickit' || type == 'preddynakit') && showDynamicKit == 'true'}">
								<%@ include file="CatalogEntryDisplayForDynamicKits_ImageView.jspf" %>
							</c:when>
							<c:when test="${type == 'item' || type == 'package' || type == 'product'}">
								<c:if test="${!hasAssociations}" >
									<%-- APPLEPAY BEGIN --%>
									<flow:ifEnabled feature="ApplePay">
										<div class="product_option">
											<a class="apple-pay-button left apple-pay-plp" id="applePayButtonDiv_${fn:escapeXml(catalogEntryID)}" wairole="button" role="button" aria-label="<wcst:message key="APPLE_PAY_BUTTON" bundle="${widgetText}"/>" onclick="javascript: applePayButtonClicked('entitledItem_<c:out value='${catalogEntryID}'/>', document.getElementById('quantity_<c:out value='${catalogEntryID}'/>').value, null, 'plp');" href="javascript:void(0);"></a>
											<div class="clear_float"></div>
										</div>
									</flow:ifEnabled>
									<%-- APPLEPAY END --%>	
									<div class="product_option">
										<a id="listViewAdd2Cart_${fn:escapeXml(catalogEntryID)}" href="javascript:setCurrentId('listViewAdd2Cart_${fn:escapeXml(catalogEntryID)}');shoppingActionsJS.Add2ShopCartAjax('entitledItem_${fn:escapeXml(catalogEntryID)}',document.getElementById('quantity_${fn:escapeXml(catalogEntryID)}').value, false)" onKeyPress="javascript:MessageHelper.setFocusElement('listViewAdd2Cart_${fn:escapeXml(catalogEntryID)}');" class="button primary" wairole="button" role="button" title="<wcst:message key='ADD_TO_CART' bundle='${widgetText}' />">
											<wcst:message key="ADD_TO_CART" bundle="${widgetText}"/>
										</a>	
									</div>
								</c:if>
								<c:if test="${hasAssociations}" >	
									<%-- APPLEPAY BEGIN --%>
									<flow:ifEnabled feature="ApplePay">
										<div class="product_option">
											<a class="apple-pay-button" id="applePayButtonDiv_${fn:escapeXml(catalogEntryID)}" wairole="button" role="button" aria-label="<wcst:message key="APPLE_PAY_BUTTON" bundle="${widgetText}"/>" onclick="javascript: applePayButtonClicked('entitledItem_<c:out value='${catalogEntryID}'/>', document.getElementById('quantity_<c:out value='${catalogEntryID}'/>').value, null, 'ma', 'entitledItem_<c:out value='${productDetailsPageCatalogEntryID}'/>', ${associationIndex});" href="javascript:void(0);"></a>
											<div class="clear_float"></div>
										</div>
										<div class="item_spacer_8px"></div>
									</flow:ifEnabled>
									<%-- APPLEPAY END --%>	
									<div class="product_option">
										<a id="addBothToCartBtn_${fn:escapeXml(catalogEntryID)}" href="javascript:setCurrentId('addBothToCartBtn_${fn:escapeXml(catalogEntryID)}');MerchandisingAssociationJS.addBoth2ShopCart('entitledItem_<c:out value='${productDetailsPageCatalogEntryID}'/>','entitledItem_${fn:escapeXml(catalogEntryID)}',document.getElementById('quantity_${fn:escapeXml(catalogEntryID)}').value,${associationIndex});" class="button primary" wairole="button" role="button" title="<wcst:message key="MA_ADD_BOTH_TO_CART" bundle="${widgetText}"/>">
											<wcst:message key="MA_ADD_BOTH_TO_CART" bundle="${widgetText}"/>
										</a>
									</div>
								</c:if>
							</c:when>
							<c:otherwise>						
								<c:if test="${hasAssociations}" >								
									<div class="product_option">
										<a id="viewFullDetailsLink_${fn:escapeXml(catalogEntryID)}" href="${fn:escapeXml(productDisplayUrl)}${fn:escapeXml(cmcrurl_productFullDetailsLink)}" class="button primary" wairole="button" role="button" title="<wcst:message key="QI_VIEW_FULL_DETAILS" bundle="${widgetText}"/>">
											<wcst:message key="QI_VIEW_FULL_DETAILS" bundle="${widgetText}"/>
										</a>
									</div>
								</c:if>
							</c:otherwise>
						</c:choose>
					</flow:ifDisabled> 
				</c:when>
				<c:otherwise>
					<div class="product_option disabled">
						<div onclick="" class="button primary">
							<wcst:message key="PD_UNAVAILABLE" bundle="${widgetText}"/>
						</div>	
					</div>
				</c:otherwise>
			</c:choose>
		</c:if>
		
		<c:if test="${param.showRemoveButton == 'true'}">
			<c:choose>
				<c:when test="${sharedWishList}">
					<div class="product_option">
						<a class="button secondary" wairole="button" role="button" href="<c:out value="${interestItemDeleteURL}"/>" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_14" waistate:controls="MiniShoppingCart">
							<span class="remove">&nbsp;</span>
							<wcst:message bundle="${widgetText}" key="WISHLIST_REMOVE" />
						</a>
					</div>
				</c:when>
				<c:otherwise>
					<div class="product_option">
						<a class="button secondary" wairole="button" role="button" href="javaScript:MultipleWishLists.removeItem('<c:out value='${param.giftListItemID}'/>')" id="WC_CatalogEntryDBThumbnailDisplayJSPF_<c:out value='${catEntryIdentifier}'/>_links_14">
							<span class="remove">&nbsp;</span>
							<wcst:message bundle="${widgetText}" key="WISHLIST_REMOVE" />
						</a>
					</div>
				</c:otherwise>
			</c:choose>
		</c:if>

		<c:if test="${enableSKUListView == 'true'}">
			<jsp:include page="../../com.ibm.commerce.store.widgets.PDP_SKUList/SKUList.jsp" flush="true">
				<jsp:param name="fromPage" value="catalogEntryListWidget"/>
				<jsp:param name="productId" value="${catalogEntryID}"/>
				<jsp:param name="fromView" value="${fn:escapeXml(param.pageView)}"/>
				<jsp:param name="disableProductCompare" value="${fn:escapeXml(disableProductCompare)}"/>
				<jsp:param name="parent_category_rn" value="${fn:escapeXml(parent_category_rn)}"/>
				<jsp:param name="top_category" value="${fn:escapeXml(top_category)}"/>
				<jsp:param name="categoryId" value="${categoryId}"/>
				<jsp:param name="widgetPrefix" value="${fn:escapeXml(param.widgetPrefix)}"/>
			</jsp:include>
		</c:if>
		
		<c:if test="${not empty attachmentsList}">
			<div id="productAttachmentToggle_${catalogEntryID}" class="searchAssocAssets productDescDrop collapsible" aria-expanded="false" role="group" aria-label="<wcst:message key="PT_PRODUCT_ATTACHMENT" bundle="${widgetText}"/>">
				 <a href="#" role="button" tabindex="0" class="toggle">
				    <div class="arrow" id="mainESpot1DescTog"></div>
				    <div class="showDetails"><wcst:message key="PT_PRODUCT_ATTACHMENT" bundle="${widgetText}"/></div>
				 </a>
				 <div class="product_attachment content">
					<c:forEach var="attachmentDetails" items="${attachmentsList}" varStatus="status">
						<div class="item_spacer_5px"></div>
						<div class="icon">
							<a href="${attachmentDetails['assetPath']}" target="_blank" id="Attachment_Icon_${catalogEntryID}_${status.count}" title="${attachmentDetails['description']}">				
								<img src="${attachmentDetails['image']}" alt="" />
							</a>
						</div>
						<div class="details">
							<p><c:out value="${attachmentDetails['name']}"/></p>
							<p>
								<a href="${attachmentDetails['assetPath']}" target="_blank" id="Attachment_${catalogEntryID}_${status.count}" title="${attachmentDetails['description']}">
									<c:out value="${fn:toLowerCase(attachmentDetails['linkName'])}"/>
								</a>
							</p>
							<div class="clear_float"></div>
						</div>
						<div class="clear_float"></div>	
					</c:forEach>
					<div class="item_spacer_5px"></div>
				</div>
			</div>
		</c:if>
		<input type="hidden" id="ProductInfoName_${catalogEntryID}" value="${fn:escapeXml(catEntryName)}"/>
		<input type="hidden" id="ProductInfoImage_${catalogEntryID}" value="${fn:escapeXml(productThumbNailImage)}"/>		
	</div>
	
<c:if test="${hasAssociations}" >
		</div>
	</div>	
</c:if>

<!-- END CatalogEntryDisplay_ListView_UI.jsp -->
